		@font-face {
		    font-family: 'eurostileregular';
		    src: url('../webfontkit/eurosti-webfont.eot');
		    src: url('../webfontkit/eurosti-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../webfontkit/eurosti-webfont.woff2') format('woff2'),
		         url('../webfontkit/eurosti-webfont.woff') format('woff'),
		         url('../webfontkit/eurosti-webfont.ttf') format('truetype'),
		         url('../webfontkit/eurosti-webfont.svg#eurostileregular') format('svg');
		    font-weight: normal;
		    font-style: normal;

		}

		*{
			box-sizing: border-box;
		}

		h1, h2, h3, h4, h5, h6{
			padding: 0;
			margin: 0;
		}
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
		}

		body{
			font-family: "eurostileregular";
			font-size: 13px;
			font-weight: normal;
			color: #b8b8b8;
			padding: 0;
			margin: 0;
		}

		#email_sup{
			display: none;
		}

		#contacto_sup{
			padding: 7px 0;
			border-bottom: 1px dashed #b8b8b8;
		}

		#info_cont_sup{
			text-align: center;
		}

		#info_cont_sup a{
			color: #b8b8b8;
		}

		#linea{
			width: 1px;
			height: 20px;
			display: inline-block;
			background-color: #b8b8b8;
		}

		/*Logo*/
		#logo_sup{
			text-align: center;
			padding: 15px 0;
		}

		/*Navegación*/
		#nav-list{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			text-align: center;
		}

		.list_item{
			width: 20%;
		}

		.list_item a{
			text-decoration: none;
			color: #b8b8b8;
		}

		.list_item a:hover{
			color: #52c7cb;
			border-bottom: 4px solid #52c7cb;
		}

		/*Banner*/
		#banner{
			margin-top: 15px;
			width: 100%;
			height: 280px;
			background: url("../images/banner.jpg") center center;
			background-size: cover;
		}

		/*Puntos de acción*/
		.parrafo_punto{
			display: none;
		}
		.titulo_punto{
			text-align: center;
			padding-top: 8px;
			font-size: 1.5em;
		}
		#puntos{
			display: flex;
			flex-wrap:wrap;
		}

		#puntoaula, #puntohorarios, #puntocalificaciones{
			width: 33.33%;
			padding: 10px;
			color: #FFF;
		}

		#puntoaula{
			background-color: #fb8348;
		}

		#puntohorarios{
			background-color: #52c7cb;
		}

		#puntocalificaciones{
			background-color: #c3d55f;
		}

		#img_punto_aula, #img_punto_horarios, #img_punto_calificaciones{
			height: 68px;
			width: 67px;
			margin: 0 auto;
		}
		#img_punto_aula{
			background: url("../images/spriteimg.png") 0 -68px;
		}

		#img_punto_horarios{
			background: url("../images/spriteimg.png") 0 0;
		}

		#img_punto_calificaciones{
			background: url("../images/spriteimg.png") -68px 0;
		}

		/*Conectado*/
		#conectados{
			padding-left: 7px;
			padding-right: 7px;
		}
		.titulos_secciones{
			font-size: 1.6em;
			color: #5ba2b8;
			text-align: center;
			text-transform: uppercase;
			margin: 30px 10px 5px;
		}

		.p_secciones{
			text-align: center;
			font-size: 1.1em;
		}

		.linea_secciones{
			width: 95px;
			height: 4px;
			background-color: #52c7cb;
			margin: 15px auto;
		}

		/*Artículos*/
		#titulo_ult_art{
			border-bottom: 4px solid #04a0ce;
		}
		#titulo_ult_art span{
			background-color: #04a0ce;
			color: #FFF;
			font-size: 1.13em;
			padding: 10px;
			display: inline-block;
		}

		.articulos{
			padding-top: 7px;
			padding-bottom: 7px;
			display: flex;
			flex-wrap: wrap;
			text-align: right;
			border-bottom: 1px solid #e9e9e7;
		}
		.articulos img{
			width: 140px;
			height: auto;
			margin-right: 10px;
		}
		.desc_articulo{
			width: calc(100% - 150px);
		}

		.desc_articulo h4{
			color: #048db5;
			font-size: 1.2em;
			text-align: left;
		}

		.desc_articulo p{
			text-align: left;
		}

		.seguir_leyendo{
			color: #f77b3e;
			text-decoration: none;
		}

		/*Qué hacemos*/
		#titulo_que_hacemos{
			border-bottom: 4px solid #52c7cb;
			margin-top: 15px;
		}

		#titulo_que_hacemos span{
			background-color: #52c7cb;
			color: #FFF;
			font-size: 1.13em;
			text-transform: uppercase;
			padding: 10px;
			display: inline-block;
		}

		#video_que_hacemos{
			width: 100%;
			height: auto;
		}

		/*Boletín*/
		#titulo_boletin{
			border-bottom: 4px solid #99cc66;
			margin-top: 15px;
		}

		#titulo_boletin span{
			background-color: #99cc66;
			color: #FFF;
			font-size: 1.13em;
			text-transform: uppercase;
			padding: 10px;
			display: inline-block;
		}

		#cont_formulario{
			background-color: #99cc66;
			padding: 20px 15px;
		}

		#cont_formulario input[type="submit"]{
			width: 155px;
			height: 33px;
			border: 0;
			margin: 0;
			background-color: #ff6633;
			color: #FFF;
			font-size: 1.15em;
		}

		#cont_formulario input[type="email"]{
			height: 33px;
			width: calc(100% - 155px);
			border: 0px;
			margin: 0;
			padding-left: 10px;
			padding-right: 10px;
		}

		/*Galería de fotos*/
		.fotos{
			width: 100%;
			height: auto;
		}

		.fotos img{
			width: 100%;
			height: auto;
		}

		/*Footer*/
		#footer_sup{
			background-color: #26758c;
			padding: 0 7px;
			padding-bottom: 15px;
		}
		.titulo_footer{
			color: #FFF;
			text-align: center;
			text-transform: uppercase;
			padding-top: 15px;
			padding-bottom: 15px;
			opacity: 0.71;
		}

		#list_contacto{
			color: rgba(255,255,255, 0.81);
		}

		/*Enviar mensaje*/

		#cont_form_enviar input[type="email"], #cont_form_enviar input[type="text"]{
			height: 33px;
			width: 100%;
			display: block;
			border: 0;
			margin: 0 0 7px;
			background-color: #b1d9e5;
			padding: 0 7px;
			text-align: center;
		}

		#cont_form_enviar textarea{
			width: 100%;
			display: block;
			margin: 0 0 7px;
			background-color: #b1d9e5;
			padding: 0 7px;
			text-align: center;
		}

		#cont_form_enviar input[type="submit"]{
			width: 85px;
			height: 33px;
			border: 0;
			margin: 0;
			background-color: #e9bd37;
			color: #FFF;
			font-size: 1.15em;
		}

		/*Mapa de ubicación*/
		#mapa{
			position: relative;
			padding-bottom: 75%;
			height: 0;
			overflow: hidden;
		}

		#mapa iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}

		/*Copyright*/

		#copyright{
			text-align: center;
			height: 54px;
			line-height: 54px;
			background-color: #07627d;
			color: rgba(255,255,255, 0.6);
		}

		@media screen and (min-width: 600px){
			#email_sup{
				display: inline-flex;
				width: 232px;
			}
			#contacto_sup, 	#cont_footer_sup{
				display: flex;
				flex-wrap: wrap;
				padding: 7px;
			}

			#info_cont_sup{
				width: calc(100% - 232px);
				text-align: right;
			}
			#contacto, #enviar_email{
				width: 50%;
			}
			#ubicacion{
				width: 100%;
			}
		}

		@media screen and (min-width: 650px){
			#cont_galeria{
				display: flex;
				flex-wrap: wrap;
				font-size: 0;
			}
			.fotos{
				width: calc(50% - 1.5px);
			}
			.seg2col{
				margin-left: 3px;
				margin-bottom: 3px;
			}
		}

		@media screen and (min-width: 800px){
			#navegacion{
				display: flex;
				flex-wrap:wrap;
			}
			#logo_sup{
				width: 297px;
				padding-left: 7px;
			}
			#nav{
				width: calc(100% - 297px);
			}
			#nav-list{
				padding: 34px 7px 34px 20px;
			}
			.list_item{
				text-align: right;
			}

			/*Puntos de acción*/
			#puntoaula, #puntohorarios, #puntocalificaciones{
				display: flex;
				flex-wrap: wrap;
			}
			#img_punto_aula, #img_punto_horarios, #img_punto_calificaciones{
				margin: 10px 0;
			}
			.parrafo_punto{
				display: block;
			}
			.detalle_punto{
				width: calc(100% - 67px);
				padding-left: 10px;
			}
			.titulo_punto{
				text-align: left;
			}

			/*Conectados*/
			#cont_conectados{
				display: flex;
				flex-wrap: wrap;
			}
			/*Conectados*/
			#cont_conectados{
				display: flex;
				flex-wrap: wrap;
			}

			#ult_articulos, #cont_video_boletin{
				width: 50%;
			}
			#ult_articulos{
				padding-right: 10px;
			}
			#cont_video_boletin{
				padding-left: 10px;
			}
			#titulo_que_hacemos{
				margin-top: 0;
			}
			/*Galería de fotos*/

			.fotos{
				width: calc(33.33% - 2px);
			}
			.seg2col{
				margin-left: 0;
			}
			.seg3col{
				margin: 0 3px 3px;
			}

			/*Footer*/
			#contacto, #enviar_email, #ubicacion{
				width: 33.33%;

			}
			 #enviar_email{
			 	padding: 0 20px;
			 	text-align: center;
			 }
			 #banner{
			 	height: 517px;
			 }
		}

		@media screen and (min-width: 1000px){
			.container{
				width: 1000px;
				margin: 0 auto;
			}
			#puntos{
				padding: 0 7px;
			}
		}